.platform-links__link {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 18.75em;
  width: 100%;
  justify-self: center;
}
.platform-links__link p {
  margin: 0;
}

.platform-links__link-icon {
  box-sizing: border-box;
  height: 6.8125em;
  width: 6.8125em;
}

.platform-links__link-name {
  height: 2.625em;
  font-family: DM Sans;
  font-size: 1.25em;
  line-height: 1.625em;
  display: flex;
  align-items: center;
  color: #000000;
}

.platform-links__link-description {
  height: 4.6875em;
  font-size: 1.125em;
  line-height: 1.4375em;
  color: #000000;
}

.platform-links__link-footer {
  display: flex;
}

.platform-links__link-category,
.platform-links__link-footer a {
  display: flex;
  padding: 0.125em 1em;
  border-radius: 1.25em;
  font-family: DM Sans;
  font-size: 1em;
  line-height: 1.3125em;
  cursor: pointer;
}

.platform-links__link-category {
  background: #E5E5E5;
  color: #000000;
  margin-right: 0.625em;
  transition: ease-in-out 0.1s;
}

.platform-links__link-footer a {
  background: linear-gradient(91.28deg, #695EE5 -5.56%, #2E98DC 101.31%);
  color: white;
  text-decoration: none;
}

.platform-links__link-category:hover {
  filter: brightness(0.90);
}