/*TODO: Account for Mobile Responsiveness*/
/*TODO: Change from PX when you sort the mobile aspect of the styling out*/

.searchContainer {
    box-sizing: border-box;
    height: 3.125em;

    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: 0.625em 1.875em 0.625em 1.875em;

    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 6.25em;

    flex: 1;
}

.iconWrapper {
    opacity: 0.5;
    height: 100%;
}

.buffer {
    margin-left: 1.25em;
}

.searchLabel {
    font-weight: 400;
    font-size: 1.125em;
    position: absolute;
    pointer-events: none;

    color: black;
    font-style: italic;

    margin-top: -0.625em;
    transform-origin: top left;
    opacity: 0.75;

    -webkit-transition: 0.25s ease;
            transition: 0.25s ease;
}

.input {
    margin: 0;
    border: none;
    outline: none;

    background-color: transparent;

    position: absolute;
    height: 2.5em;
    margin-top: -1.25em;
}

.input:focus + .searchLabel,
.searchLabel.noTransition {
    margin-top: -1.25em;
    transform: scale(0.5);

    opacity: 0.5;
}

.noTransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

@media only screen and (max-width: 600px) {
    
}
