header {
  box-sizing: border-box;
  background: linear-gradient(91.28deg, #695ee5 -5.56%, #2e98dc 101.31%);
  height: 128px;
  width: 100vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  padding: 0 13px 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left {
  display: flex;
  align-items: center;
}

.log_out {
  height: 50px;
  width: 100px;
  border-radius: 20px;
  border: 1px solid whitesmoke;
  background-color: transparent;
  color: whitesmoke;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.log_out:hover {
  background-color: white;
  color: #2e98dc;
}

.header__logo {
  width: 200px;
}

.header__actions {
  display: flex;
}

.header__actions > * {
  margin-right: 13px;
}

@media only screen and (max-width: 800px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
  }
    .header_left {
      margin-top: 20px;
      width: 100%;
    }
    .header__actions {
      align-self: center;
      width: 100%;
    }

    .log_out {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .header__logo {
      width: 140px;
    }
}