header {
  box-sizing: border-box;
  background: linear-gradient(91.28deg, #695ee5 -5.56%, #2e98dc 101.31%);
  height: 128px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  padding-left: 48px;
  display: flex;
}

.header__logo {
  width: 200px;
}
